<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutPadrao">
	
<head>
	<title>Cadastro de usuário</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
	
</head>

<body>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de usuário
			</h1>
		</div>
	</div>
	
	<div class="container-fluid">

	<form method="POST" th:object="${usuario}" class="form-vertical  js-form-loading">
				
		<div class="form-group  bw-required">
			<label class="control-label" for="nome">Nome</label>
			<input id="nome" type="text" class="form-control"/>
		</div>
		
		<div class="row">
			<div class="col-sm-3 form-group  bw-required">
				<label class="control-label" for="email">e-mail</label>
				<div class="input-group">
					<input id="email" type="text" class="form-control"/>
					<div class="input-group-addon">@</div>
				</div>
			</div>

			<div class="col-sm-3 form-group">
				<label class="control-label" for="dataNascimento">Data de Nascimento</label>
				<input id="dataNascimento" type="text" class="form-control"/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3 form-group  bw-required">
				<label class="control-label" for="senha">Senha</label>
				<div class="input-group">
					<input id="senha" type="text" class="form-control"/>
					<div class="input-group-addon">*</div>
				</div>
			</div>

			<div class="col-sm-3 form-group  bw-required">
				<label class="control-label" for="senhaConfirmacao">Confirmação de senha</label>
				<div class="input-group">
					<input id="senhaConfirmacao" type="text" class="form-control"/>
					<div class="input-group-addon">*</div>
				</div>
			</div>

			<div class="col-sm-3 form-group  bw-required">
				<label class="control-label">Status</label>
				<div>
					<input type="checkbox" class="js-status" data-size="small" data-off-color="danger" data-on-text="Ativo" data-off-text="Inativo"/>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 form-group  bw-required">
				<label class="control-label" for="grupos">Grupos</label>
				<div class="checkbox">
					<div>
						<input type="checkbox" name="grupos"/>
						<label>Administrador</label>
					</div>
					<div>
						<input type="checkbox" name="grupos"/>
						<label>Vendedor</label>
					</div>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<button class="btn  btn-primary" type="submit">Salvar</button>
		</div>

	</form>
</div>

</section>	

</body>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	<script>
		$('.js-status').bootstrapSwitch();
	</script>
</th:block>

</html>