<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="layout/LayoutPadrao">
	
<head>
	<title>Cadastro de cliente</title>
</head>

<body>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de cliente
			</h1>
		</div>
	</div>
	
	<div class="container-fluid">

	<form method="POST" th:object="${cliente}" class="form-vertical  js-form-loading">
				
		<div class="form-group  bw-required">
			<label for="nome">Nome</label>
			<input id="nome" type="text" class="form-control"/>
		</div>

		<div class="row">
			<div class="col-lg-4 col-sm-6 form-group  bw-required">
				<label for="tipoPessoa">Tipo pessoa</label>
				<div>
					<th:block th:each="tipoPessoa : ${tiposPessoa}">
						<div class="radio radio-inline">
							<input type="radio" th:id="|id_${tipoPessoa}|" class="js-radio-tipo-pessoa" 
									name="tipoPessoa" 
									data:documento="${tipoPessoa.documento}" data:mascara="${tipoPessoa.mascara}" >
							<label class="control-label" th:for="|id_${tipoPessoa}|" th:text="${tipoPessoa.descricao}">Física</label>
						</div>
					</th:block>
				</div>
			</div>
			
			<div class="col-sm-8 form-group  bw-required">
				<label class="control-label" for="cpfOuCnpj">CPF/CNPJ</label>
				<input id="cpfOuCnpj" type="text" class="form-control" disabled/>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-4 form-group">
				<label class="control-label" for="telefone">Telefone</label>
				<input id="telefone" type="text" class="form-control js-phone-number"/>
			</div>
			
			<div class="col-sm-8 form-group">
				<label class="control-label" for="email">e-mail</label>
				<div class="input-group">
					<input id="email" type="text" class="form-control"/>
					<div class="input-group-addon">@</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-4 form-group">
				<label class="control-label" for="logradouro">Logradouro</label>
				<input id="logradouro" type="text" class="form-control"/>
			</div>
			
			<div class="col-sm-4 form-group">
				<label class="control-label" for="numero">Número</label>
				<input id="numero" type="text" class="form-control"/>
			</div>
			
			<div class="col-sm-4 form-group">
				<label class="control-label" for="complemento">Complemento</label>
				<input id="complemento" type="text" class="form-control"/>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-4 form-group">
				<label class="control-label" for="cep">CEP</label>
				<input id="cep" type="text" class="form-control js-cep" />
			</div>

			<!--
			<div class="col-sm-3 form-group  bw-required" brewer:classforerror="estilo">
				<label for="estilo" class="control-label">Estilo</label>
				<div class="bw-field-action">
					<select id="estilo" class="form-control" th:field="*{estilo}">
						<option value="">Selecione o estilo</option>
						<option th:each="estilo : ${estilos}" th:value="${estilo.codigo}" th:text="${estilo.nome}"></option>					
					</select>
					
					<div class="bw-field-action__icon">
						<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoEstilo">
							<i class="glyphicon  glyphicon-plus-sign bw-glyphicon-large"></i>
						</a>
					</div>
				</div>
			</div>
			
				<div class="form-group col-sm-4 ">
					<label for="estado" class="control-label">Estado</label>
						<select id="estado"  class="form-control"  th:field="*{endereco.estado}">
							<option value="">Selecione o estado</option>
							<option th:each="estado : ${estados}"
								th:value="${estado.codigo}" th:text="${estado.nome}">CE</option>
						</select>
				</div>
			
			
			-->
			
			<div class="col-sm-4 form-group">
				<label class="control-label" for="estado">Estado</label>
					<select id="estado" class="form-control">
						<option value="">Selecione o estado</option>
						<option th:each="estado : ${estados}" th:value="${estado.codigo}" 
								th:text="${estado.sigla}"></option>					
					</select>
			</div>
			
			<div class="col-sm-4 form-group">
				<label class="control-label" for="cidade">Cidade</label>
				<select id="cidade" class="form-control">
					<option value="">Selecione a cidade</option>
					<option value="1">Fortaleza</option>					
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<button class="btn  btn-primary" type="submit">Salvar</button>
		</div>

	</form>
</div>

</section>	

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/cliente.mascara-cpf-cnpj.js}"></script>
	<!-- <script th:src="@{/javascripts/cliente.mascara-cep.js}"></script>  -->
	
</th:block>

</body>

</html>