<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">

	<div class="alert  alert-success  alert-dismissible" role="alert" 
			th:if="${not #strings.isEmpty(mensagem)}" th:fragment="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
		<span th:text="${mensagem}"></span>
	</div>
		
</html>
