<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="order (pagina, propriedade, texto)">
	<a th:href="${pagina.urlOrdenada(propriedade)}" th:remove="${pagina.vazia} ? tag"> 
		<span th:text="${texto}"></span> 
		<span class="dropup" th:remove="${pagina.descendente(propriedade)} ? tag"
				th:if="${pagina.ordenada(propriedade)}"> 
		<span class="caret"></span></span>
	</a>
</th:block>

</html>
