<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:brewer="http://brewer.algaworks.com"
	>
	
<head>
	<title>Pesquisa de estilos</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de estilos</h1>
				</div>
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/estilos/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i>
							<span class="hidden-xs  hidden-sm">Novo estilo</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	<div class="container-fluid">
		<form method="GET" th:object="${estiloFilter}">
		
			<div class="row">
				<div class="col-sm-12  form-group">
					<label for="nome" class="control-label">Estilo</label>
					<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
				</div>
			</div>
	
			<button class="btn  btn-primary" type="submit">Pesquisar</button>
			
		</form>
		
		<div class="table-responsive bw-tabela-simples ">
			<table class="table  table-hover ">
				<thead>
					<tr>
						<th class="table-estilos-col-codigo">
							<brewer:order page="${pagina}" field="codigo" text="Código"/>
						</th>
						<th class="table-estilos-col-nome">
							<brewer:order page="${pagina}" field="nome" text="Nome"/>
						</th>
						<th class="table-estilos-col-acoes"></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="estilo : ${pagina.conteudo}">
						<td th:text="${estilo.codigo}" class="text-right"></td>
						<td th:text="${estilo.nome}"></td>
						<td class="text-center">
							<a class="btn btn-link btn-xs" title="Editar">
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn btn-link btn-xs" title="Excluir">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
					
					<tr th:if="${pagina.vazia}">
						<td colspan="3">Nenhum estilo encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<brewer:pagination page="${pagina}"/>
		
	</div>
	
</section>
</body>
</html>