<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutPadrao"
	xmlns:brewer="http://brewer.algaworks.com"
	>
	
<head>
	<title>Pesquisa de cervejas</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de cervejas</h1>
				</div>
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/cervejas/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i>
							<span class="hidden-xs  hidden-sm">Nova cerveja</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	<div class="container-fluid">
		<form method="GET" th:object="${cervejaFilter}">
		
			<div class="row">
				<div class="col-sm-2  form-group">
					<label for="sku" class="control-label">SKU</label>
					<input id="sku" type="text" class="form-control" autofocus="autofocus" th:field="*{sku}"/>
				</div>
				<div class="col-sm-10 form-group">
					<label for="nome" class="control-label">Nome</label>
					<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
				</div>
			</div>
	
			<div class="row">
				<div class="col-sm-6 form-group">
					<label for="estilo" class="control-label">Estilo</label>
					<select id="estilo" class="form-control" th:field="*{estilo}">
						<option value="">Todos os estilos</option>
						<option th:each="estilo : ${estilos}" th:value="${estilo.codigo}" th:text="${estilo.nome}"></option>					
					</select>
				</div>
				
				<div class="col-sm-6 form-group">
					<label for="sabor" class="control-label">Sabor</label>
					<select id="sabor" class="form-control" th:field="*{sabor}">
						<option value="">Todos os sabores</option>
						<option th:each="sabor : ${sabores}" th:value="${sabor}" th:text="${sabor.descricao}"></option>					
					</select>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6 form-group">
					<label for="origem" class="control-label">Origem</label>
					<div>
						<th:block th:each="origem : ${origens}">
							<div class="radio radio-inline">
								<input th:id="|id_${origem}|" type="radio" th:value="${origem}" th:field="*{origem}"/>
								<label th:for="|id_${origem}" th:text="${origem.descricao}"></label>
							</div>
						</th:block>
						<div class="radio radio-inline">
							<input id="todasOrigens" type="radio" th:checked="*{origem} == null" name="origem"/>
							<label for="todasOrigens}">Todas</label>
						</div>
					</div>
				</div>
		
				<div class="col-sm-6 form-group">
					<label for="valorDe" class="control-label">Preço unitário</label>
					<div class="form-inline">
						<input id="valorDe" type="text" class="form-control js-decimal aw-form-control-inline-sm" th:field="*{valorDe}"/>
						<label for="valorAte" class="aw-form-label-between">até</label>
						<input id="valorAte" type="text" class="form-control js-decimal aw-form-control-inline-sm" th:field="*{valorAte}"/>
					</div>
				</div>
			</div>
			
			<button class="btn  btn-primary" type="submit">Pesquisar</button>
			
		</form>
		
		<div class="table-responsive bw-tabela-simples ">
			<table class="table  table-hover ">
				<thead>
					<tr>
						<th class="table-cervejas-col-foto"></th>
						<th class="table-cervejas-col-sku">
							<brewer:order page="${pagina}" field="sku" text="SKU"/>
						</th>
						<th class="table-cervejas-col-nome">
							<brewer:order page="${pagina}" field="nome" text="Nome"/>
						</th>
						<th class="table-cervejas-col-estilo">Estilo</th>
						<th class="table-cervejas-col-sabor">Sabor</th>
						<th class="table-cervejas-col-origem">Origem</th>
						<th class="table-cervejas-col-valor">Valor</th>
						<th class="table-cervejas-col-acoes"></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="cerveja : ${pagina.conteudo}">
						<td class="text-center">
							<img th:src="@{/fotos/thumbnail.{foto}(foto=${cerveja.fotoOuMock})}" class="img-responsive"/>
						</td>
						<td th:text="${cerveja.sku}" class="text-center"></td>
						<td th:text="${cerveja.nome}"></td>
						<td th:text="${cerveja.estilo.nome}"></td>
						<td th:text="${cerveja.sabor.descricao}"></td>
						<td th:text="${cerveja.origem.descricao}"></td>
						<td th:text="|R$ ${cerveja.valor}|" class="text-right"></td>						
						<td class="text-center">
							<a class="btn btn-link btn-xs" title="Editar">
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn btn-link btn-xs" title="Excluir">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
					
					<tr th:if="${pagina.vazia}">
						<td colspan="7">Nenhuma cerveja encontrada</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<brewer:pagination page="${pagina}"/>
		
	</div>
	
</section>
</body>
</html>